{% extends 'layout.html' %}

{% block title %}
Edit Pegawai
{% endblock title %}

{% block content %}
<form method="POST" class="post-form" action="{% url 'update' pegawai.id %}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Detail Data</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Id Pegawai:</label>
    <div class="col-sm-4">  
        <input type="text" name="pid" id="id_eid" required maxlength="20" value="{{ pegawai.pid }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nama Pegawai:</label>
    <div class="col-sm-4">  
        <input type="text" name="pnama" id="id_ename" required maxlength="100" value="{{ pegawai.pnama }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Email Pegawai:</label>
    <div class="col-sm-4">  
        <input type="email" name="pemail" id="id_eemail" required maxlength="254" value="{{ pegawai.pemail }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Kontak Pegawai:</label>
    <div class="col-sm-4">  
        <input type="text" name="pkontak" id="id_econtact" required maxlength="15" value="{{ pegawai.pkontak }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form> 
{% endblock content %}