{% extends 'layout.html' %}

{% block title %}
Daftar Pegawai
{% endblock title %}

{% block content %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Nama</th>  
        <th>Email</th>  
        <th>Kontak</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>
{% for pegawai in pegawais %}  
    <tr>  
        <td>{{ pegawai.pid }}</td>  
        <td>{{ pegawai.pnama }}</td>  
        <td>{{ pegawai.pemail }}</td>  
        <td>{{ pegawai.pkontak }}</td>  
        <td>  
            <a href="{% url 'edit' pegawai.id %}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="{% url 'delete' pegawai.id %}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<a href="{% url 'tambah' %}" class="btn btn-primary">Tambah Pegawai</a></center>  

{% endblock content %}