{% extends 'layout.html' %}

{% block title %}
Tambah Pegawai
{% endblock title %}

{% block content %}
<form method="POST" class="post-form" action="{% url 'tambah' %}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Data Pegawai Baru</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Id Pegawai:</label>  
    <div class="col-sm-4">  
      {{ form.pid }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nama Pegawai:</label>  
    <div class="col-sm-4">  
      {{ form.pnama }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Email Pegawai:</label>  
    <div class="col-sm-4">  
      {{ form.pemail }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Kontak Pegawai:</label>  
    <div class="col-sm-4">  
      {{ form.pkontak }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
    </div>  
</form>  
{% endblock content%}